

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@import url('https://fonts.googleapis.com/css?family=Kanit');



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

body, html {
	height: 100%;
	font-family: 'Kanit', sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}


iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1500px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.column2 {
  font-size: 18px;
  text-align: center;
  width: 160px;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
}

.columnHeaderButton {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  width: 260px;
  text-align: middle;
}

.columnHeader {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  width: 260px;
  padding-left: 40px;
  text-align: middle;
}

.columnNotFound {
	color: black;
	font-size: 25px;
  width: auto;
  padding-left: 40px;
	text-align: center;
}

.column1 {
  width: auto;
  padding-left: 40px;
	text-align: left;
}

.column {
  width: auto;
	text-align: left;
}



@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "ชื่อ";
		padding-left: 40;
		text-align: left;
  }
  table tbody tr td:nth-child(2):before {
    content: "นามสกุล";
		text-align: left;
  }
  table tbody tr td:nth-child(3):before {
    content: "เลขประจำตัว 13 หลัก";
		text-align: left;
  }
  table tbody tr td:nth-child(4):before {
    content: "อีเมล";
		text-align: left;
  }
  table tbody tr td:nth-child(5):before {
    content: "วันเกิด";
		text-align: left;
  }
  table tbody tr td:nth-child(6):before {
    content: "หลักสูตร";
		text-align: left;
  }
	table tbody tr td:nth-child(7):before {
		content: "ระดับชั้น";
		text-align: left;
	}
	table tbody tr td:nth-child(8):before {
		content: "เลขที่ห้อง";
		text-align: left;
	}
	table tbody tr td:nth-child(9):before {
		content: "สาขาวิชา";
		text-align: left;
	}
	table tbody tr td:nth-child(10):before {
		content: "หมายเลขโทรศัพย์";
		text-align: left;
	}
	table tbody tr td:nth-child(11):before {
		content: "ปีที่เข้ารับการศึกษา";
		text-align: left;
	}
	table tbody tr td:nth-child(12):before {
		content: "การยืนยัน";
		text-align: left;
	}

	.column {
    text-align: left;
  }



  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
